<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
      <add key="PathLogException" value="D:\Temp\XML\LogArchivosACMA\logWCFTransf.txt"/>
      <add key="PathArchivosACMA" value="D:\Temp\XML\"/>
      <add key="PathLogSucesosWCF" value="D:\Temp\XML\LogManifiestosWCF.xml"/>
      <add key="PathLogAudiArchACMA" value="D:\Temp\XML\AuditoriaArchivosACMA\"/>

      <!--<add key="PathLogException" value="G:\FILES\XML\LogArchivosACMA\logWCFTransf.txt"/>
      <add key="PathArchivosACMA" value="G:\FILES\XML\"/>
      <add key="PathLogSucesosWCF" value="G:\FILES\XML\LogManifiestosWCF.xml"/>
      <add key="PathLogAudiArchACMA" value="G:\FILES\XML\AuditoriaArchivosACMA\"/>-->
      
    </appSettings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManifiesto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tlmsrvweb2.pe.talma.corp:8084/Code/Manifiesto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManifiesto"
                contract="srvGuiasAcma.IManifiesto" name="BasicHttpBinding_IManifiesto" />
        </client>
    </system.serviceModel>
</configuration>